<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                 
                    <div class="col-lg-4 centralizar topo">

            <div class="card card-login shadow-3 mb-3" style="max-width: 18rem;">
                <div class="card-header card-title">Cadastro de Livro</div>
                <div class="card-body text-vinho">
                    <mdb-form-control>
                        <input mdbInput type="text" id="titulo" class="form-control" [(ngModel)]="livro.titulo" autocomplete="off"/>
                        <label mdbLabel class="form-label" for="usuario">Usuário</label>
                    </mdb-form-control>
                    <br>
                    <mdb-form-control>
                        <input mdbInput type="text" id="autor" class="form-control" [(ngModel)]="livro.autor" autocomplete="off"/>
                        <label mdbLabel class="form-label" for="senha">Autor</label>
                    </mdb-form-control>
                    <br>
                    <mdb-form-control>
                        <input mdbInput type="text" id="editora" class="form-control" [(ngModel)]="livro.editora" autocomplete="off"/>
                        <label mdbLabel class="form-label" for="senha">Autor</label>
                    </mdb-form-control>
                    <br>
                    <mdb-form-control>
                        <input mdbInput type="text" id="capa" class="form-control" [(ngModel)]="livro.capa" autocomplete="off"/>
                        <label mdbLabel class="form-label" for="senha">Capa</label>
                    </mdb-form-control>
                    <br>
                    <button type="button" class="btn btn-outline-vinho btn-rounded" mdbRipple rippleColor="dark" (click)="save()">
                        Salvar</button>
                </div>
            </div>


        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
